<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Justin.tv</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://www\.justin\.tv/[^/]+/b/\d+</string>
				<string>^http://www\.justin\.tv/[^/#]+</string>
				<string>^http://www\.twitch\.tv/[^/]+$</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
