<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>CNET</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://cnettv.cnet.com/kodak-playfull/9742-1_53-50104479.html</string>
				<string>http://cnettv.cnet.com/may-7-2011/9742-1_53-50104480.html</string>
				<string>http://reviews.cnet.com/digital-camcorders/canon-vixia-hf-g10/4505-6500_7-34468436.html?tag=contentMain;contentBody</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://(cnettv|reviews).cnet.com/.+/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
