<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>MovieSense</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.moviesense.nl/2011/04/red-riding-hood-videoreview/</string>
				<string>http://www.moviesense.nl/2011/05/moviesense-tv-pirates-of-the-caribbean-on-stranger-tides/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.moviesense.nl/[0-9]{4}/[0-9]{2}/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
