<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Railscasts</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://railscasts.com/episodes/275-how-i-test?autoplay=true</string>
				<string>http://railscasts.com/episodes/277-mountable-engines</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://railscasts.com/episodes/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
