<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Automated Home</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.automatedhome.co.uk/New-Products/Video-What-Control4-Home-Automation-Can-Do-For-Children-With-Autism.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.automatedhome.co.uk/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
