<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Academic Earth</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://academicearth.org/lectures/programming-methodology-intro</string>
				<string>http://academicearth.org/lectures/intro-roman-architecture</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://(www\.)?academicearth.org/lectures/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
