<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Uncle Jay Explains The News</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://unclejayexplains.com/2011/07/04/uncle-jay-explains-july-4-2011/</string>
				<string>http://unclejayexplains.com/2011/05/23/uncle-jay-explains-may-23-2011/?vid=local</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://unclejayexplains.com/[0-9]{4}/[0-9]{2}/[0-9]{2}/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
