<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Embedded Video</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.miracletutorials.com/howto-embed-vimeo/</string>
				<string>http://apiblog.youtube.com/2010/07/new-way-to-embed-youtube-videos.html</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^$</string>
			</array>
			<key>Fallback</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
