<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>MTV Music Videos</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.mtv.com/videos/nicki-minaj/769681/right-by-my-side-featuring-chris-brown-explicit.jhtml#id=1518072</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.mtv.com/videos/.*</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
</dict>
</plist>
