<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>SesameStreet</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.sesamestreet.org/videos#media/video_e0b70a53-154d-11dd-8ea8-a3d2ac25b65b</string>
				<string>http://www.sesamestreet.org/videos#media/video_e690d739-157d-11dd-9bc7-777dea8a73e7</string>
				<string>http://www.sesamestreet.org/videos#media/video_84c04028-1558-11dd-a62f-919b98326687</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.sesamestreet.org/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
