<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
	<key>URL</key>
	<dict>
		<key>tv3playdk</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.tv3play.dk/play/262673/</string>
				<string>http://www.tv3play.dk/play/281848/</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.tv3play.dk/play/[0-9]+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
