<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>DOCTYPE</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://doctype.tv/50</string>
				<string>http://www.doctype.tv/underscore</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://(www\.)?doctype\.tv/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
