<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>EuropaFilmTreasures</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.europafilmtreasures.eu/PY/453/see-the-film-the_golden_man</string>
				<string>http://www.europafilmtreasures.eu/PY/391/see-the-film-a_1896_fairground_programme_-_the_george_williams_collection</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.europafilmtreasures.eu/PY/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
