<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Metro</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.metro.co.uk/video/1207454739001-rooney-made-a-silly-mistake</string>
				<string>http://www.metro.co.uk/video/1178045720001-soul-surfer-clip--thats-what-im-talking-about</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.metro.co.uk/video/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
