<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Marvel</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://marvel.com/videos/watch/2114/the_watcher_-_episode_44_shame_itself</string>
				<string>http://marvel.com/videos/watch/2036/captain_america_blu-ray_trailer</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://marvel.com/videos/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
