<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>South Park</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.southparkstudios.com/full-episodes/s01e01-cartman-gets-an-anal-probe</string>
			</array>    
			<key>URLPatterns</key>
			<array>
				<string>http://www.southpark(studios)?\.(dk|fi|de|nl|no|se|com)/((full-)?episodes|alleEpisoden)/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>