<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Universal Sports</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.universalsports.com/video/assetid=ead4b8a0-e2ea-4705-9a30-47b1e8e8903d.html#excitement+personified+missy+franklin+worlds</string>
				<string>http://www.universalsports.com/video/assetid=e95bbeaa-1be9-425f-b341-77552c767b80.html#2011+diamond+league+stockholm+usain+bolt+wins+200m</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.universalsports.com/video/assetid=.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
