<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>The Daily Show</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.thedailyshow.com/full-episodes/</string>
				<string>http://www.thedailyshow.com/watch/tue-july-26-2011/armadebtdon-2011---call-congress</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.thedailyshow.com/(full-episodes|watch)/</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
