<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>VRT</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://(www\.)?cobra\.be/(permalink|cm/cobra/cobra-mediaplayer/.+)/1\.\d+</string>
				<string>^http://(www\.)?deredactie\.be/(permalink|cm/vrtnieuws/mediatheek(/.+)?)/1\.\d+</string>
				<string>^http://(www\.)?sporza\.be/(permalink|cm/sporza/videozone/.+)/1\.\d+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://www.cobra.be/permalink/1.1466752</string>
				<string>http://www.deredactie.be/permalink/1.1068302</string>
				<string>http://www.deredactie.be/cm/vrtnieuws/mediatheek/nieuws/buitenland/1.1068676</string>
				<string>http://www.sporza.be/permalink/1.1463223</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
