<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Bing</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.bing.com/videos/watch/video/cheetah-jumps-on-safari-jeep/2008vznj</string>
				<string>http://www.bing.com/videos/browse?videoId=de7a8ac4-0c06-44e1-96d8-e6410246ac64</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>^http://www.bing.com/videos/(watch/video/[^/]+|browse\?videoId=).+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
