<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>DRNU</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.dr.dk/tv/live/dr1</string>
				<string>http://www.dr.dk/tv/se/spise-med-price/spise-med-price-5-6</string>
				<string>http://www.dr.dk/radio/player/?P1D</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.dr.dk/tv/live/.+</string>
				<string>http://www.dr.dk/tv/se/.+</string>
				<string>http://www.dr.dk/radio/player/\?.+</string>
			</array>
		</dict>
	</dict>
	<key>PlexFrameworkFlags</key>
	<array>
		<string>UseRealRTMP</string>
	</array>
</dict>
</plist>
