<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>GameTrailers</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.gametrailers.com/video/cover-athlete-ufc-undisputed/720268</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://(trailers-ak\.|www\.)?gametrailers\.com/(gt_vault|download|video|player)/.*</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
